*.Rproj.user
*.pdf
*.Rdata
*.tsv.gz
*.rda
*.csv
*.html
*.Rds
*.gz
*.jpg
*.png
*.ai
*.svg
*.xlsx
*.txt
temp/*
.DS_Store
.Rhistory
!0-data/dataframes-plotting/*.Rdata
!0-data/dataframes-plotting/*.gz
.Rproj.user
